$mobile: "(max-width: 1023px)";
$desktop: "(min-width: 1024px)";

$font-style: Arial, Helvetica, 'sans-serif';

$custom-color-dark: black;
$custom-color-grey-dark: #cdcdcd;
$custom-color-grey-light: #e8e8e8;

$border: 2px solid $custom-color-grey-dark;

$menu-items-count: 6;

$main-title-height: 80px;